<div class="col-4">
    <div class="card">
        <img src="/images/<%= imageUrl %>" alt="" height="100" />
        <div class="card-body">
            <h2 class="card-title">
                <%= name %>
            </h2>
            <p class="card-text">
                <%= description %>
            </p>
            <a href="/game/<%= _id %>" class="preview-card__button">PLAY</a>
        </div>
    </div>
</div>