<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/game.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sport Games</title>
    <script src="/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <div class="bg"></div>
    <%- include('partials/nav') %>
        <div class="container mt-5">
            <div class="row accordion" id="accordion">
                <% if (game._id === '65a7e5a317869e53de589f3c') { %>
                    <%- include('partials/game', game, teamList) %> 
                <% } %>
                <% if (game._id === '65b69c4843dbca076cbd2c0f') { %>
                    <%- include('partials/game2', game, teamList) %> 
                <% } %>
            </div>
        </div>

        <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/general.js"></script>
</body>