html,
body {
  min-height: 100vh;
  background-color: #150B24;
  background-image: url('/images/backgroundImage2.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100px;
}