
wegame-test.voiceover.market {
    file_server
    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Headers  "*" 
}

wegame.voiceover.market {
  reverse_proxy localhost:8000 
  header Access-Control-Allow-Origin "*"
  header Access-Control-Allow-Headers  "*" 
}