html,
body {
  min-height: 100vh;
  background-color: #150b24;
}

@font-face {
  font-family: VT323;
  src: url(/fonts/VT323-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}

* {
  font-family: roboto;
}

#messageDiv {
  width: 220px; 
  margin: auto; 
  font-weight: 600;
  text-align: center;
  font-family: VT323;
  color: #0fd181;
}