html,
body {
  min-height: 100vh;
  background-color: #150B24;
  background-image: url('/images/backgroundImage2.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100px;
}

* {
  font-family: roboto;
}

.gameName {
  color: #0fd181;
  font-family: VT323;
  font-weight: 600;
  font-size: 25px;
}

.gameDescription {
  color: #e7f0f6;
  font-family: VT323;
  font-weight: 600;
  font-size: 20px;
}

.playButton, .playButton:focus, .playButton:active, playButton:active:focus {
  outline: none;
  border-width: 4px 4px 4px 4px !important;
  border-color: #AB25D4 !important;
  background-color: #AB25D4 !important;
  color: #E7F0F6 !important;
  border-radius: 20px;
  box-shadow: 0px 4px 0px #611b55 !important;
}

.playButton:hover {
  opacity: .9;
  border-width: 4px 4px 4px 4px;
  border-color: #AB25D4;
  background-color: #AB25D4;
  color: #E7F0F6;
  animation: swing 1s ease-in-out infinite;
  border-radius: 20px;
  box-shadow: 0px 4px 0px #611b55;
}

@keyframes swing {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.image-fit-contain {
  object-fit: contain !important;
  filter: drop-shadow(0 0 4px #AB25D4);
  max-height: 150px;
}

.image-fit-contain:hover {
  object-fit: contain !important;
  filter: drop-shadow(0 1px 4px #AB25D4);
}

.teamSelectorWrapper {
  background-image: url('/images/contentBg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  border-radius: 0 !important;
}

.img-dropdown {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 20px;
  height:20px;
}

.btn-primary.custom-btn {
	background-color: #611b55;
	border-color: #611b55;
}

.btn-primary.custom-btn:active {
	background-color: #611b55;
	border-color: #611b55;
}

/**/

.form-control {
  font-family: VT323;
  width: 170px;
  margin-bottom: 10px;
  color: #E7F0F6;
  line-height: normal;
  background: none;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #AB25D4;
  margin-left: 25px;
}

.form-control:focus {
  color: #E7F0F6;
  background: none;
  border-color: Transparent;
  outline: none;
  margin-left: 25px;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #E7F0F6;
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #E7F0F6;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #E7F0F6;
}

.sign-in, .sign-in:focus, .sign-in:active, sign-in:active:focus {
  outline: none;
  border-width: 4px 4px 4px 4px !important;
  border-color: #AB25D4 !important;
  background-color: #AB25D4 !important;
  color: #E7F0F6 !important;
  border-radius: 20px;
  box-shadow: 0px 4px 0px #611b55 !important;
}

.sign-in:hover {
  opacity: .9;
  border-width: 4px 4px 4px 4px;
  border-color: #AB25D4;
  background-color: #AB25D4;
  color: #E7F0F6;
  animation: swing 1s ease-in-out infinite;
  border-radius: 20px;
  box-shadow: 0px 4px 0px #611b55;
}

@keyframes swing {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.login-container {
  width: 313px;
  height: 309px;
  margin: auto;
  padding: 50px;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #AB25D4;
  background-color: #150B24;
}